@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@inject LocService SharedLocalizer
@model IEnumerable<IllRequestPortal.Web.ViewModel.IllRequestViewModel>

@{
    ViewData["Title"] = $"{SharedLocalizer.GetLocalizedHtmlString("List")} {SharedLocalizer.GetLocalizedHtmlString("IllRequest")}";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("IllRequest")</h1>

<a asp-controller="IllRequest" asp-action="Create">
    <button type="button" class="btn btn-info btn-lg"><span class="bi bi-plus-circle"></span>@SharedLocalizer.GetLocalizedHtmlString("Create New")</button>
</a>
<hr />
<table class="table table-striped table-sm data-table ill-table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("CreatedOn")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Title")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Author")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("PublicationYear")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Edition")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Isbn")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Issn")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("MaterialType")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("RequestType")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("RequesterName")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("RequesterEmail")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("CardNumber")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Status")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@(item.CreatedOn?.ToString("yyyy-MM-dd HH:mm"))">
                    @(item.CreatedOn?.ToString("yyyy-MM-dd"))
                </td>
                <td class="truncate tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Title">
                    @item.Title
                </td>
                <td class="truncate tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Author">
                    @item.Author
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.PublicationYear">
                    @item.PublicationYear
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Edition">
                    @item.Edition
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Isbn">
                    @item.Isbn
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Issn">
                    @item.Issn
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.MaterialType">
                    @SharedLocalizer.GetLocalizedHtmlString(item.MaterialType)
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.RequestType">
                    @SharedLocalizer.GetLocalizedHtmlString(item.RequestType)
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.RequesterName">
                    @item.RequesterName
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.RequesterEmail">
                    @item.RequesterEmail
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.CardNumber">
                    @item.CardNumber
                </td>
                <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Status">
                    @SharedLocalizer.GetLocalizedHtmlString(item.Status)
                </td>

                <td class="ill-actions">

                    <form asp-controller="IllRequest"
                          asp-action="MarkAsRegisteredInLibris"
                          asp-route-id="@item.Id"
                          method="post"
                          style="display:inline">

                        <button type="submit"
                                class="btn btn-sm btn-outline-success icon-btn tooltip-r"
                                data-toggle="tooltip"
                                title="@SharedLocalizer.GetLocalizedHtmlString("RegisteredInLibris")">

                            <i class="bi bi-check-circle"></i>
                        </button>

                    </form>

                    <a asp-controller="IllRequest"
                       asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-outline-primary icon-btn tooltip-r"
                       data-toggle="tooltip"
                       title="@SharedLocalizer.GetLocalizedHtmlString("Edit")">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <a asp-controller="IllRequest"
                       asp-action="Remove"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-outline-danger icon-btn tooltip-r"
                       data-toggle="tooltip"
                       title="@SharedLocalizer.GetLocalizedHtmlString("Delete")">
                        <i class="bi bi-trash"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
