@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@inject LocService SharedLocalizer
@model IllRequestPortal.Web.ViewModel.IllRequestViewModel

@{
    ViewData["Title"] = $"{SharedLocalizer.GetLocalizedHtmlString("Delete")} {SharedLocalizer.GetLocalizedHtmlString("IllRequest")}";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("Delete") @SharedLocalizer.GetLocalizedHtmlString("IllRequest")</h1>

<div class="alert alert-warning">
    <strong>@SharedLocalizer.GetLocalizedHtmlString("Delete"):</strong>
    @SharedLocalizer.GetLocalizedHtmlString("Are you sure you want to delete this?")
</div>

<div class="row">
    <div class="col-lg-10 col-xl-8">

        <div class="ill-section">
            <div class="ill-section-title">@SharedLocalizer.GetLocalizedHtmlString("RequestInformation")</div>

            <dl class="row mb-0">
                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Title")</dt>
                <dd class="col-sm-8">@Model.MainTitle</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Author")</dt>
                <dd class="col-sm-8">@Model.MainAuthor</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Title")</dt>
                <dd class="col-sm-8">@Model.ContainerTitle</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Author")</dt>
                <dd class="col-sm-8">@Model.ContainerAuthorOrEditor</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("PublicationYear")</dt>
                <dd class="col-sm-8">@Model.PublicationYear</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Isbn")</dt>
                <dd class="col-sm-8">@Model.Isbn</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Issn")</dt>
                <dd class="col-sm-8">@Model.Issn</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("MaterialType")</dt>
                <dd class="col-sm-8">@SharedLocalizer.GetLocalizedHtmlString(Model.MaterialType)</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("RequestType")</dt>
                <dd class="col-sm-8">@SharedLocalizer.GetLocalizedHtmlString(Model.RequestType)</dd>
            </dl>
        </div>

        <div class="ill-section">
            <div class="ill-section-title">@SharedLocalizer.GetLocalizedHtmlString("RequesterInformation")</div>

            <dl class="row mb-0">
                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("RequesterName")</dt>
                <dd class="col-sm-8">@Model.RequesterName</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("RequesterEmail")</dt>
                <dd class="col-sm-8">@Model.RequesterEmail</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("CardNumber")</dt>
                <dd class="col-sm-8">@Model.CardNumber</dd>
            </dl>
        </div>

        <div class="ill-section">
            <div class="ill-section-title">@SharedLocalizer.GetLocalizedHtmlString("Status")</div>

            <dl class="row mb-0">
                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("Status")</dt>
                <dd class="col-sm-8">@Model.Status</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("CreatedOn")</dt>
                <dd class="col-sm-8">@Model.CreatedOn</dd>

                <dt class="col-sm-4">@SharedLocalizer.GetLocalizedHtmlString("UpdatedOn")</dt>
                <dd class="col-sm-8">@Model.UpdatedOn</dd>
            </dl>
        </div>

        <form method="post" enctype="multipart/form-data" asp-controller="IllRequest" asp-action="Remove">
            @Html.HiddenFor(x => x.Id)

            <div class="ill-form-actions">
                <input type="submit"
                       value="@SharedLocalizer.GetLocalizedHtmlString("Delete")"
                       class="btn btn-danger" />

                <a asp-controller="IllRequest"
                   asp-action="Index"
                   class="btn btn-outline-secondary">
                    @SharedLocalizer.GetLocalizedHtmlString("Back to List")
                </a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}